*{
	-webkit-box-sizing: border-box;
	 box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html {
	margin: 0;
	padding: 0;
  	font-size: 15px;
}
body {
	background: #ecf0f1;
	position: relative;
	font-family: Geneva;
}
.site_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: black;
}
/*header*/
.site_header {
	height: 20rem;
	position: relative;
	background: url(../images/hero/hero.jpg);
	background-position: center;
	background-size: cover;
}
.site_hamburger_container {
	-webkit-perspective: 200rem;
	perspective: 200rem;
	height: 100%;
}
.site_hamburger_card {
	border: 1px solid white;
	width: 10%;
	font-size: 2rem;
	color: white;
	position: relative;
	height: 2.6rem;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: all .6s ease;
	transform-style: preserve-3d;
	-o-transition: all .6s ease;
	transition: all .6s ease;
	cursor: pointer;
	float: left;
	margin: .2rem;
	z-index: 1;
}
.is-active {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.is-open {
	display: block;
}
.darker {
	opacity: 0.7;
}
.hamburger,
.close_hamburger {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.close_hamburger {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}
.site_nav{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: black;
	display: none;
	opacity: .9;
}
.site_nav_item_container {
	border: 1px solid black;
	padding: .75rem;
	-webkit-box-shadow: 0 0 .5rem grey;
	box-shadow: 0 0 .5rem grey;
}
.site_nav_item {
	color: white;
	text-decoration: none;
	text-shadow: .05rem .05rem 0 black;
}
.site_nav_item:hover,active {
	color: pink;
	text-decoration: none;
	text-decoration: underline;
}
.site_header_gallery_button {
	position: absolute;
	top: 50%;
	background: none;
	border: none;
	color: white;
}
.site_header_left_button {
	left: 2%;
}
.site_header_right_button {
	right: 2%;
}
/*.site_header_button {
	position: absolute;
	left: 45%;
	bottom: 5%;
	font-size: 1.5rem;
	background: grey;
	color: white;
	width: 12%;
	height: 12%;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
	background: -webkit-linear-gradient(white, black);
	background: -o-linear-gradient(white, black);
	background: linear-gradient(white, black);
	opacity: .9;
	text-shadow: .1rem .1rem 0 black;
	border: none;
	border-radius: .2rem;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
button#start-scroll.site_header_button {
	padding: 0;
}*/
/*.site_header_button_active {
	text-shadow: none;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#FF601D));
	background: -webkit-linear-gradient(white, #FF601D);
	background: -o-linear-gradient(white, #FF601D);
	background: linear-gradient(white, #FF601D);
	color: black;
}*/
/*header end*/
/*promotion*/
.promotion_word {
	border-radius: .2rem;
	-webkit-box-shadow: inset 0 0 .5rem red;
	box-shadow: inset 0 0 .5rem red;
	padding: .4rem;
	color: white;
	text-shadow: .1rem .1rem 0 black;
	display: block;
	text-align: center;
	width: 50%;
	-webkit-transform: translate(50%, 0);
	-ms-transform: translate(50%, 0);
	transform: translate(50%, 0);
}
/*promotion end*/
/*section one*/
.site_section_one {
	height: 60rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.section_one_container {
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1.2rem 0;
	background: pink;
	background: -webkit-linear-gradient(black, pink);
	background: -o-linear-gradient(black, pink);
	background: -webkit-gradient(linear, left top, left bottom, from(black), to(pink));
	background: linear-gradient(black, pink);
	position: relative;
}
.section_one_link {
	display: block;
	border-radius: 100%;
}
.section_one_lashes {
	display: block;
	border-radius: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 11rem;
	height: 10rem;
	cursor: pointer;
}
.section_one_lash_name {
	color: black;
	position: absolute;
	bottom: 5%;
	right: 5%;
	height: auto;
	padding: .1rem;
}
.modal_root {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.lash-modal-hide {
	display: none;
}
.modal-show {
	display: block;
}
.modal_background_opacity {
	width: 100%;
	height: 100%;
	background: black;
	opacity: .8;
}
.modal_container {
	width: 90%;
	position: absolute;
	top: 30%;
	left: 5%;
	background: white;
	padding-top: 1.5rem;
	background: white;
	background: url(../images/pic_one.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: .5rem;
}
.modal_inner_container,
.modal_lash_container {
	padding: 0;
	margin: 0;
	width: 100%;
}
.close-modal-button {
	float: right;
}
.module_image_button {
	position: absolute;
	top: 15%;
	height: 2.2rem;
	background: transparent;
	border: none;
	color: white;
	border-radius: 100%;
	background: grey;
	padding: 0 .7rem;
}
.module_image_button_left {
	left: 2%;
}
.module_image_button_right {
	right: 2%;
}
.product_name,
.product_faq {
	font-weight: 600;
}
.product_faq_important {
	color: #5cb85c;
}
/*footer*/
.site_footer {
	background: black;
	color: white;
}
.footer_logo_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background: white;
}
.footer_logo {
	width: 20%;
	height: 10%;
}
.logo_lines {
	width: 38%;
	height: 0;
	margin: auto 0;
	border: 1px solid black;
}
.footer_social_icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 1rem;
	font-size: 2rem;
}
.footer_social_icons a {
	color: white;
}
.footer_bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .5rem;
}
.footer_bottom_disclosures {
	padding: .3rem;
}
/*footer end*/
@media only screen and (min-width: 400px) {
	.site_section_one {
		height: 70rem;
	}
	.section_one_lashes {
		width: 13rem;
		height: 12rem;
	}
}
@media only screen and (min-width: 500px) {
	.module_image_button {
		top: 20%;
	}
}
@media only screen and (min-width: 600px) {
	/*header*/
	.site_header {
		height: 23rem;
	}
	.site_hamburger_card {
		width: 7%;
	}
	/*header end*/
	/*section one*/
	.site_section_one {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		height: 44rem;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		padding-top: .5rem;
		background: black;
	}
	.section_one_container {
		width: 48%;
		height: auto;
	}
	.section_one_container:last-of-type {
		width: 98%;
	}
	.modal_container {
		width: 80%;
		top: 10%;
		left: 10%;
	}
	/*section one end*/
	/*footer*/
	.footer_logo_container {
		width: 98%;
		margin: 0 auto;
	}
	/*footer end*/
}
@media only screen and (min-width: 700px) {
	/*header*/
	.site_hamburger_card {
		width: 6%;
	}
	/*header end*/
	.lash_modal {
		width: 100%;
	}
	.modal_thumbnail {
		width: 100%;
	}
	.module_image_button {
		top: 25%;
	}
}
@media only screen and (min-width: 800px) {
	/*header*/
	.site_header {
		height: 28rem;
	}
	.site_hamburger_card {
		width: 5%;
	}
	/*header end*/
	.modal_container {
		width: 50%;
		left: 26%;
	}
	.lash_modal {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.modal_thumbnail {
		width: 100%;
	}
	.modal_checkout {
		width: 90%;
		margin: 0 auto;
		padding: 0;
	}
	.module_image_button {
		top: 20%;
	}
}

@media only screen and (min-width: 900px) {
	/*header*/
	.site_hamburger_card {
		width: 4.5%;
	}
	/*header end*/
	.modal_thumbnail {
		width: 100%;
	}
	.lash_modal,
	.modal_checkout {
		float: none;
	}
}
@media only screen and (min-width: 1100px) {
	/*header*/
	.site_header {
		height: 42rem;
	}
	.site_hamburger_container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.site_hamburger_card {
		display: none;
	}
	.site_nav{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		width: 40%;
		position: relative;
		background: transparent;	
		height: -webkit-max-content;	
		height: -moz-max-content;	
		height: max-content;
		font-size: 1.2rem;
	}
	.site_nav_item_container {
		border-style: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.site_nav_item_container:first-child .site_nav_item {
		border: 1px solid white;
		padding: 5px;
	}
	.site_nav_item {
		font-weight: 400;
	}
	/*.site_header_button {
		width: 6%;
		height: 10%;
	}*/
	/*header end*/
	/*Promotion*/
	.promotion_word {
		display: inline;
	}
	/*Promotion end*/
	/*section one*/
	.site_section_one {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		 flex-flow: row wrap;
		height: auto;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		background: black;
	}
	.section_one_container {
		width: 20%;
		align-items: center;
		height: 42rem;
	}
	.section_one_container:last-of-type {
		width: 20%;
	}
	.section_one_lashes {
		-webkit-transition: all .6s ease;
		-o-transition: all .6s ease;
		transition: all .6s ease;
	}
	.section_one_lashes:hover {
		width: 14rem;
		height: 13rem;
	}
	.section_one_lash_name {
		right: 33%;
		bottom: 30%;
		-webkit-transition: all .6s ease;
		-o-transition: all .6s ease;
		transition: all .15s linear;
		cursor: default;
	}
	.section_one_container:nth-of-type(1) .section_one_lash_name:hover {
		border-bottom: 3px solid #A56A37;
	}
	.section_one_container:nth-of-type(2) .section_one_lash_name:hover {
		border-bottom: 3px solid #D5C5B0;
	}
	.section_one_container:nth-of-type(3) .section_one_lash_name:hover {
		border-bottom: 3px solid #D8AFAC;
	}
	.section_one_container:nth-of-type(4) .section_one_lash_name:hover {
		border-bottom: 3px solid #C1B8B2;
	}
	.section_one_container:nth-of-type(5) .section_one_lash_name:hover {
		border-bottom: 3px solid #C86891;
	}

	.lash_modal {
		width: 58%;
		margin: 0;
		float: left;
	}
	.modal_container {
		position: fixed;
		width: 56%;
		left: 22%;
		top: 2%;
	}
	.modal_checkout {
		width: 40%;
		margin: 0;
		float: right;
	}
	.modal_lash_container {
		padding: 0 .5rem;
	}
	/*section one end*/	
	/*footer*/
	.footer_logo_container {
		width: 100%;
	}
	.footer_logo {
		transition: all .6s ease;
	}
	.footer_logo:hover {
		width: 23%;
		height: 13%;
	}
	.footer_social_icons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 1rem;
		font-size: 2.5rem;
		height: 8rem;
	}
	.footer_bottom {
		padding: .5rem;
	}
	.footer_bottom_disclosures {
		padding: .3rem;
	}
	/*footer end*/
}
@media only screen and (min-width: 1500px) {
	/*header*/
	.site_header {
		height: 59rem;
	}
	.site_nav {
		font-size: 2rem;
	}
	/*header end*/
	/*section one*/
	.modal_container {
		top: 8%;
	}
	.section_one_container {
		height: 60rem;
	}
	.section_one_lashes {
		width: 19rem;
		height: 17rem;
	}
	.section_one_lashes:hover {
		width: 21rem;
		height: 19rem;
	}
	.section_one_lash_name {
		right: 35%;
		bottom: 30%;
		font-size: 1.3rem;
	}
	/*section one end*/
	/*footer*/
	.footer_social_icons {
		height: 15rem;
		font-size: 4rem;
	}
	.footer_bottom {
		font-size: 1.5rem;
	}
	/*footer end*/
}